.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 10px;
}



.loginBox{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 100%;
    background-color: rgb(231, 218, 218);
    margin: auto;
}


.top{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50%;
    background-color:  rgb(16, 16, 78);
    border-bottom-left-radius: 25%;
}


.s{
    height: 10%;
    margin-top: 70px;
    margin-left: 50px;
}

.inputs{
    width: 80%;
    border-radius: 20px;
    text-align: center;
}


.input{
    width: 80%;
    margin-top: 20px;
    border-radius: 20px;
    text-align: center;
}

.loginButton{
    margin-bottom: 10%;
    width: 70%;
    height: 40px;
    background-color:  rgb(16, 16, 78);
    color: white;
    border-radius: 20px;
    margin: auto;
}

.H1Text{
    color: white;
    margin-left: 5px;
}

.Register{
    margin-bottom: 2%;
    margin: auto;
    background-color: rgb(231, 218, 218);
}

.buttons{
    width: 100%;
    height: 40px;
}