<ion-content>
    <div class="container">
    
      <div class="loginBox">
    
          <div class="top">
     <h1 class="H1Text">SignUp</h1>
            </div>
    
            <div class="s">
                <input type="text" placeholder="Email" [(ngModel)]="email" class="inputs">
                <input type="text" placeholder="Password"  [(ngModel)]="Password"  class="input">
              
            </div>
            <div class="buttons">
    
            </div>
            <button class="loginButton" routerLink='/hotel-list'>Register</button>
          
      </div>
      
    </div>
    </ion-content>